* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
.container {
    width: min(95%, 1300px);
    margin: 0 auto;
}

.grid1 {
    display: flex;
    
}







/*===============================================================

                            768px
                            
===============================================================*/ 

/* Base: móviles (sin media query) */

/* Pantallas medianas (tablets) */
@media (min-width: 768px) {
     
}

/*===============================================================

                            1024px
                            
===============================================================*/

/* Pantallas grandes (laptops) */
@media (min-width: 1024px) { ... }

/*===============================================================

                            1280px
                            
===============================================================*/

/* Monitores grandes */
@media (min-width: 1280px) { ... }

/*===============================================================

                            1536px
                            
===============================================================*/

/* Pantallas ultra grandes */
@media (min-width: 1536px) { ... }
